@mixin flex {
  display: flex;
  align-items: stretch;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-horizon {
  display: flex;
  justify-content: center;
}

@mixin flex-center-vertical {
  display: flex;
  align-items: center;
}