// Colors
$colorWhite         : #fff;
$colorCaptionBorder : #f0f0f0;

// Font sizes
$font12: 0.75rem;
$font14: 0.875rem;
$font18: 1.125rem;
$font20: 1.25rem;
$font24: 1.5rem;
$font40: 2.5rem;
$font60: 3.75rem;